<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Submission Form</title>
  </head>
  <body>
    <h1>Data Collection Form</h1>
    <form action="/" method="POST">
      <div>
        <label for="user">User</label>
        <input type="text" id="user" name="user" />
      </div>
      <div>
        <label for="sample18">Sample 18</label>
        <input type="text" id="sample18" name="sample18" />
      </div>
      <div>
        <label for="sample28">Sample 28</label>
        <input type="text" id="sample28" name="sample28" />
      </div>
      <div>
        <label for="sample38">Sample 38</label>
        <input type="text" id="sample38" name="sample38" />
      </div>
      <div>
        <label for="sample48">Sample 48</label>
        <input type="text" id="sample48" name="sample48" />
      </div>
      <div>
        <label for="sample58">Sample 58</label>
        <input type="text" id="sample58" name="sample58" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
